@import "tailwindcss";


@theme {
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 920px;
  --breakpoint-xl: 1024px;
  --breakpoint-2xl: 1280px;

  --font-typ901: "typ901", sans-serif;
 
}

@font-face {
  font-family: "typ901";
  src: url("/fonts/p-regular.ttf");
}

